language: node_js
node_js:
  - "stable"

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - openssl aes-256-cbc -K $encrypted_76e9bcd3d39a_key -iv $encrypted_76e9bcd3d39a_iv -in secrets.tar.enc -out secrets.tar -d
  - tar xvf secrets.tar
  - chmod 600 tgmeetup_github_io_deploy_key
  - eval $(ssh-agent -s)
  - ssh-add tgmeetup_github_io_deploy_key

install:
  - yarn install

jobs:
  include:
    - stage: test
      script: yarn test

    - stage: deploy
      deploy:
        - provider: script
          script: yarn deploy:travis
          skip_cleanup: true
          on:
            branch: transfer/github.io
